@import url('https://fonts.googleapis.com/css?family=Chivo:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
  body {  
    font:inherit;
    font-size:100%;
    background:transparent url(highlight-bg.jpg) 50% 0 no-repeat;
    background-image:url("highlight-bg.jpg");
    line-height:1.5;
    font-family:'Helvetica Neue', Helvetica, Arial, serif;
    color:#6d6d6d;
  }  
div { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

body { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

body { 
    line-height: 1;
} 

body { 
    font-family: 'Helvetica Neue', Helvetica, Arial, serif; 
    font-size: 1em; 
    line-height: 1.5; 
    color: #6d6d6d; 
    text-shadow: 0 1px 0 rgba(255,255,255,0.8); 
    background: #e7e7e7 url(body-bg.png) 0 0 repeat; 
    background-image: url("body-bg.png"); 
    background-position-x: 0px; 
    background-position-y: 0px; 
    background-size: initial; 
    background-repeat-x: repeat; 
    background-repeat-y: repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(231, 231, 231);
} 

html { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

.inner { 
    width: 620px; 
    margin: 0 auto;
} 

header { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

header { 
    display: block;
} 

header { 
    padding-top: 35px; 
    padding-bottom: 25px;
} 

section { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

section { 
    display: block;
} 

.clearfix { 
    display: inline-block;
} 

.clearfix { 
    display: block;
} 

#downloads { 
    margin-bottom: 40px;
} 

.clearfix:after { 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
    content: '.';
} 

hr { 
    height: 1px; 
    padding-bottom: 1em; 
    margin-top: 1em; 
    line-height: 1px; 
    background: transparent url("hr.png") 50% 0 no-repeat; 
    border: none; 
    background-image: url("hr.png"); 
    background-position-x: 0%; 
    background-position-y: 0px; 
    background-size: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: transparent;
} 

footer { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

footer { 
    display: block;
} 

footer { 
    padding-top: 20px; 
    padding-bottom: 30px; 
    margin-top: 40px; 
    font-size: 13px; 
    color: #aaa; 
    background: transparent url("hr.png") 0 0 no-repeat; 
    background-image: url("hr.png"); 
    background-position-x: 0px; 
    background-position-y: 0px; 
    background-size: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: transparent;
} 

h1 { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

h1 { 
    font-size: 32px;
} 

header h1  { 
    font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif; 
    font-size: 48px; 
    font-weight: 900; 
    line-height: 1.2; 
    color: #303030; 
    letter-spacing: -1px;
} 

h2 { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

h2 { 
    margin-bottom: 8px; 
    font-size: 22px; 
    font-weight: bold; 
    color: #303030;
} 

header h2  { 
    font-size: 24px; 
    font-weight: normal; 
    line-height: 1.3; 
    color: #aaa; 
    letter-spacing: -1px;
} 

a { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

a { 
    color: #d5000d;
} 

a { 
    text-decoration: none;
} 

a.button { 
    display: block; 
    float: left; 
    width: 179px; 
    padding: 12px 8px 12px 8px; 
    margin-right: 14px; 
    font-size: 15px; 
    font-weight: bold; 
    line-height: 25px; 
    color: #303030; 
    background: #fdfdfd; 
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f2f2f2)); 
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); 
    background: -o-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); 
    background: -ms-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); 
    background: linear-gradient(to top, #fdfdfd 0%, #f2f2f2 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); 
    border-top: solid 1px #cbcbcb; 
    border-right: solid 1px #b7b7b7; 
    border-bottom: solid 1px #b3b3b3; 
    border-left: solid 1px #b7b7b7; 
    border-radius: 30px; 
    -webkit-box-shadow: 10px 10px 5px #888; 
    -moz-box-shadow: 10px 10px 5px #888; 
    box-shadow: 0px 1px 5px #e8e8e8; 
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px;
} 

a:hover { 
    color: #c5000c;
} 

a.button:hover { 
    background: #fafafa; 
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f6f6f6)); 
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); 
    background: -o-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); 
    background: -ms-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%); 
    background: linear-gradient(to top, #fdfdfd 0%, #f6f6f6, 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); 
    border-top: solid 1px #b7b7b7; 
    border-right: solid 1px #b3b3b3; 
    border-bottom: solid 1px #b3b3b3; 
    border-left: solid 1px #b3b3b3;
} 

p { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

p { 
    margin-bottom: 20px; 
    font-weight: 300;
} 

blockquote { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

blockquote { 
    quotes: none;
} 

blockquote { 
    padding: 0 0 0 30px; 
    margin-bottom: 20px; 
    font-size: 1.6em; 
    border-left: 10px solid #e9e9e9;
} 

blockquote:before,blockquote:after,q:before,q:after { 
    content: none;
} 

h3 { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

h3 { 
    margin-bottom: 8px; 
    font-size: 18px; 
    font-weight: bold; 
    color: #d5000d;
} 

h4 { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

h4 { 
    font-size: 16px; 
    font-weight: bold; 
    color: #303030;
} 

ul { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

ul { 
    list-style: none;
} 

ul { 
    margin-bottom: 20px;
} 

h5 { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

h5 { 
    font-size: 1em; 
    color: #303030;
} 

ol { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

ol { 
    list-style: none;
} 

ol { 
    margin-bottom: 20px;
} 

h6 { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

h6 { 
    font-size: .8em; 
    color: #303030;
} 

table { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

table { 
    border-spacing: 0; 
    border-collapse: collapse;
} 

table { 
    width: 100%; 
    border: 1px solid #ebebeb;
} 

dl { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

dl { 
    margin-bottom: 20px;
} 

footer a  { 
    color: #666;
} 

footer a:hover { 
    color: #444;
} 

span { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

a.button span  { 
    display: block; 
    height: 23px; 
    padding-left: 50px;
} 

#download-zip span  { 
    background: transparent url(zip-icon.png) 12px 50% no-repeat; 
    background-image: url("zip-icon.png"); 
    background-position-x: 12px; 
    background-position-y: 50%; 
    background-size: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: transparent;
} 

#download-tar-gz span  { 
    background: transparent url(tar-gz-icon.png) 12px 50% no-repeat; 
    background-image: url("tar-gz-icon.png"); 
    background-position-x: 12px; 
    background-position-y: 50%; 
    background-size: initial; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: transparent;
} 

strong { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

strong { 
    font-weight: bold;
} 

em { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

em { 
    font-style: italic;
} 

del { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

p a  { 
    font-weight: 400;
} 

.highlight { 
    color: #d0d0d0;
} 

li { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

ul li  { 
    list-style-position: inside; 
    list-style: disc; 
    padding-left: 20px;
} 

ol li  { 
    list-style-position: inside; 
    list-style: decimal; 
    padding-left: 3px;
} 

thead { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

tbody { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

img { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

#container .inner img { 
    max-width: 100%;
} 

dt { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

dl dt  { 
    color: #303030;
} 

dd { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

pre { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

pre { 
    margin-bottom: 30px; 
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; 
    font-size: 0px; 
    color: #222;
} 

pre { 
    padding: 20px; 
    overflow: auto; 
    color: #f2f2f2; 
    text-shadow: none; 
    background: #303030;
} 

tr { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

code { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

code { 
    margin-bottom: 30px; 
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; 
    font-size: 14px; 
    color: #f2f2f2; 
} 

code { 
    padding: 0 3px; 
    background-color: #f2f2f2; 
    border: solid 1px #ddd;
} 

pre code  { 
    padding: 0; 
    color: #f2f2f2; 
    background-color: #303030; 
    border: none;
} 

th { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

th { 
    font-weight: 500;
} 

td { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

td { 
    font-weight: 300; 
    text-align: center; 
    border: 1px solid #ebebeb;
} 

pre { 
    padding: 0px; 
    background: #303030;
}
pre code {
    padding: 0;
    color: #f2f2f2;
    background-color: #303030;
    border: none;
}

code {
    padding: 0 3px;
    background-color: #f2f2f2;
    border: solid 1px #ddd;
}
code, pre {
    margin-bottom: 30px;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 14px;
    color: #222;
}


body { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

body { 
    line-height: 1;
} 

body { 
    font-family: 'Helvetica Neue', Helvetica, Arial, serif; 
    font-size: 1em; 
    line-height: 1.6; 
    color: #6d6d6d; 
    text-shadow: 0 1px 0 rgba(255,255,255,0.8); 
    background: #e7e7e7 url(https://hexcein-moonsters.github.io/tactile_demo/assets/images/body-bg.png) 0 0 repeat; 
    background-image: url("https://hexcein-moonsters.github.io/tactile_demo/assets/images/body-bg.png"); 
    background-position-x: 0px; 
    background-position-y: 0px; 
    background-size: initial; 
    background-repeat-x: repeat; 
    background-repeat-y: repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(231, 231, 231);
} 

html { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

pre { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

pre { 
    margin-bottom: 30px; 
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; 
    font-size: 0px; 
    color: #222;
} 

pre { 
    padding: 0px; 
     padding-left: 0px;
      padding-right: 0px;
    overflow: auto; 
    color: #f2f2f2; 
    text-shadow: none; 
    background: #303030;
} 

code { 
    padding: 0; 
    margin: 0; 
    font: inherit; 
    font-size: 100%; 
    vertical-align: baseline; 
    border: 0;
} 

code { 
    margin-bottom: 30px; 
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; 
    font-size: 14px; 
    color: #222;
} 

code { 
    padding: 0 3px; 
    background-color: #f2f2f2; 
    border: solid 1px #ddd;
} 

code  { 
    padding: 0; 
    color: #f2f2f2; 
    background-color: #303030; 
    border: none;
} 

body {
    background-position-x: 0%;
}

code {
    display: block;
    width: 100% !important;
    padding: 0 !important;
  }

  pre code {
    padding-left: 13px !important;
}
